.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.location--contain {
  margin-bottom: 10px;
  justify-content: space-between;
  max-width: 150px;
}

.num {
  font-family: "Raleway", sans-serif;
}

.text {
  font-family: "Lato", sans-serif;
}

.location--result {
  margin-top: 0;
  margin-bottom: 0;
}

.location--add {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 2px;
}

.location--details,
.location--weather {
  width: 48%;
  padding: 0 1rem;
  max-width: 200px;
  box-sizing: border-box;
}

.location--weather {
  text-align: right;
}

.location--longdate,
.location--name {
  margin-bottom: 0;
}

.location--currentTime,
.location--country {
  margin-top: 2px;
  font-weight: normal;
}

.location--weather-icon {
  display: block;
  width: 75px;
}

.location--temp {
  margin-bottom: 2px;
}

.location--descrip {
  margin-top: 2px;
}

@media only screen and (max-width: 600px) {
  .location--details,
  .location--weather {
    font-size: smaller;
  }
}
